<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="src/vendor/normalize.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div id="app">
    <div class="heroes">
      <div class="control-panel">
        <button class="new-hero" @click="toggleEditor">New Hero</button><button class="merge-heroes">Merge Heroes</button>
      </div>

      <div class="card" v-for="hero in heroes">
        <div class="personal-data">
          <ul>
            <li><strong>Name: </strong><span class="hero-name">{{ hero.hero_name }}</span></li>
            <li><strong>Real name: </strong><span class="real-name">{{ hero.real_name }}</span></li>
            <li><strong>Gender: </strong><span class="gender">{{ hero.gender }}</span></li>
          </ul>
        </div>
        <div class="characteristics">
          <div>
            <strong>Attributes</strong>
            <ul>
              <li v-for="(attribute, value) in hero.attributes">
                {{ attribute }}: {{ value }}
              </li>
            </ul>
          </div>
          <div>
            <strong>Powers</strong>
            <ul>
              <li v-for="power in hero.powers">
                {{ power }}
              </li>
            </ul>
          </div>
          <div>
            <strong>Weaknesses</strong>
            <ul>
              <li v-for="weakness in hero.weaknesses">
                {{ weakness }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="editor-overlay">
      <div class="card">
        <div class="personal-data">
          <ul>
            <li><strong>Name: </strong><input class="hero-name" v-model="newHero.hero_name"></li>
            <li><strong>Real name: </strong><input class="real-name" v-model="newHero.real_name"></li>
            <li><strong>Gender: </strong>
              <div class="gender-selection">
                <select class="gender" v-model="newHero.gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <i class="chevron"></i>
              </div>
          </ul>
        </div>
        <div class="characteristics">
          <div>
            <strong>Attributes</strong>
            <input class="attribute-name" v-model="newAttribute">
            <input class="attribute-value" v-model="newAttributeValue" min="0" max="100" maxlength="3">
            <button @click="addAttribute">Add</button>
            <ul>
              <li v-for="(attribute, value) in newHero.attributes">
                {{ attribute }}: {{ value }}
              </li>
            </ul>
          </div>
          <div>
            <strong>Powers</strong>
            <input v-model="newPower" @keyup.enter="addCharacteristic('newPower', 'powers')">
            <ul>
              <li v-for="power in newHero.powers">
                {{ power }}
              </li>
            </ul>
          </div>
          <div>
            <strong>Weaknesses</strong>
            <input v-model="newWeakness" @keyup.enter="addCharacteristic('newWeakness', 'weaknesses')">
            <ul>
              <li v-for="weakness in newHero.weaknesses">
                {{ weakness }}
              </li>
            </ul>
          </div>
        </div>
        <button class="close" @click="toggleEditor">X</button>
        <button class="save" @click="createNewHero">Save</button>
      </div>
    </div>
  </div>

  <script src="src/vendor/vue.min.js"></script>
  <script src="src/js/app.js"></script>
</body>
</html>